{% extends "admin/base.html" %}
{% load grp_tags %}
{% load i18n  log static appsettings %}
{% block stylesheets %}
{{block.super}}
<link href="{% static "admin.css" %}" rel="stylesheet" type="text/css" media="screen" />
<link href="{% static "featherlight.min.css" %}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block javascripts %}
{{block.super}}
<script src="/static/print_features.js?v=1" type="text/javascript"></script>
<script src="/static/genesis.js?v=1" type="text/javascript"></script>
<script src="/static/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="/static/featherlight.min.js" type="text/javascript"></script>
    {% AppSetting %}
{% endblock %}

{% block breadcrumbs %}
<ul>
    <li><a href="{% url 'admin:index' %}">{% trans 'Dashboard' %}</a></li>
    {% if title %}
    <li> &rsaquo; {{ title }}</li>
    {% endif %}
</ul>
{% endblock %}
{% block userlinks %}
<!-- Username -->
<li class="grp-user-options-container grp-collapse grp-closed {% if request.session.original_user %}grp-switch-user-is-target{% endif %}">
    <a href="javascript://"
       class="user-options-handler grp-collapse-handler {% if request.session.original_user %}grp-switch-user-is-target{% else %}grp-switch-user-is-original{% endif %}">{% trans "User" %}: {% firstof user.get_short_name user.get_username %}</a>
    <ul class="grp-user-options">
        <!-- Change Password -->
        {% if user.has_usable_password %}
        <li><a href="{% url 'admin:password_change' %}" class="grp-change-password">{% trans 'Change password' %}</a></li>
        {% endif %}
        <!-- Logout -->
        <li><a href="{% url 'admin:logout' %}" class="grp-logout">{% trans 'Log out' %}</a></li>
        <!-- Switch -->
        {% switch_user_dropdown %}
    </ul>
</li>
<!-- Documentation -->
{% url 'django-admindocs-docroot' as docsroot %}
{% if docsroot %}
<li><a href="{{ docsroot }}">{% trans 'Documentation' %}</a></li>
{% endif %}
{% endblock %}
</ul>

{% block footer %}
{{block.super}}
    <iframe name="_ifrm" id="_ifrm" height="0" width="0" ></iframe>
{% endblock %}

