header#grp-header #grp-navigation ul#grp-user-tools>li.grp-user-options-container {
    width: auto;
}

.grp-row input[type="url"], .grp-row input[type="email"], .grp-row .vTextField, .grp-row .vURLField, .grp-row .vFileBrowseField, .grp-row textarea, .grp-row .vLargeTextField, .grp-row .vXMLLargeTextField, .grp-autocomplete-wrapper-m2m{
    width: 400px;
}

fieldset.grp-module .grp-row label{
    font-size:13px;
}

.grp-autocomplete-wrapper-m2m, .grp-autocomplete-wrapper-fk input.ui-autocomplete-input{
    font-size: 14px;
}

input[type="url"], input[type="email"], input.vTextField, input.vURLField, input.vFileBrowseField, textarea, .vLargeTextField, .vXMLLargeTextField{
    width: 350px;
}

.grp-module.grp-table select, .grp-module.grp-table .grp-autocomplete-wrapper-m2m, .grp-module.grp-table .grp-autocomplete-wrapper-fk{
    max-width:350px;
}


#parameterkey_set-group > div.tabular.inline-related.grp-module.grp-table input,
#parameterkey_set-group > div.tabular.inline-related.grp-module.grp-table textarea{
    width: auto;
}

.grp-module .grp-row:not(tr) {
    zoom:1.3;
}
