header#grp-header #grp-navigation ul#grp-user-tools > li.grp-user-options-container {
    width: auto;
}

.grp-row input[type="checkbox"], .grp-row input[type="radio"] {
    transform: scale(1.5);
}

img[alt*="False"], img[alt*="True"] {
    width: 25px !important;
    margin: 0;
}

div.grp-td.finished {
    text-align: center;
}

div.grp-readonly {
    border: none !important;
    padding: 0 !important;
    min-width: auto !important;

}

.grp-row input[type="url"], .grp-row input[type="email"], .grp-row .vTextField, .grp-row .vURLField, .grp-row .vFileBrowseField, .grp-autocomplete-wrapper-m2m {
    max-width: 400px;
}


fieldset.grp-module .grp-row label {
    font-size: 15px;
}

.grp-autocomplete-wrapper-m2m, .grp-autocomplete-wrapper-fk input.ui-autocomplete-input {
    font-size: 14px;
}

input[type="url"], input[type="email"], input.vTextField, input.vURLField, input.vFileBrowseField, textarea, .vLargeTextField, .vXMLLargeTextField {
    /*max-width: 100% !important;*/
    width: auto !important;
}

.grp-module.grp-table select, .grp-module.grp-table .grp-autocomplete-wrapper-m2m, .grp-module.grp-table .grp-autocomplete-wrapper-fk {
    max-width: 350px;
}

input.ui-autocomplete-input {
    width: 350px !important;
}

#parameterkey_set-group > div.tabular.inline-related.grp-module.grp-table input,
#parameterkey_set-group > div.tabular.inline-related.grp-module.grp-table textarea {
    width: auto;
}

td, a {
    font-size: larger !important;
}

.grp-module .grp-row:not(tr) {
    zoom: 1.1;
}

body.dashboard .grp-module .grp-row:not(tr) {
    zoom: 1.3;
}

#grp-recent-actions-module {
    width: 440px;
}

.g-d-c {
    position: relative;
}

.show_it {
    display: block !important;
    /*visibility: visible !important;*/
    /*opacity: 1 !important;*/
    /*position:relative;*/

}

.hide_it {
    display: none;

    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: visibility 0s, opacity 0.5s linear;*/

}

div.big_app_icon:hover span {
    color: black;
}

div.big_app_icon:hover {
    background-color: #4fb2d3;
}

div.big_app_icon:hover img {
    opacity: 1;
}

div.big_app_icon img {
    width: 90px;
    padding-left: 20px;
    opacity: 0.7;
}

div.big_app_icon span {
    position: absolute;
    top: 96px;
    width: 125px;
    left: 0;
    font-size: 13px;
    color: #837a7a;
    text-align: center;

}

div.big_app_icon {
    position: relative;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #ccc;
    border: 1px solid #c5c5c5;
    width: 125px;
    float: left;
    height: 130px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;

}

h1#grp-admin-title {
    cursor: pointer;
    padding-left: 50px !important;
    background-image: url(/static/icons/genesis-logo.png) !important;
    background-attachment: fixed;
    background-size: 40px;
    background-position: 20px -1px;
    background-repeat: no-repeat;
    font-size: 18px !important;
}

div#search-box {
    width: 100%;
    float: left;
}

.container-1 {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 100%;
    height: 50px;
    background: #ededed;
    border: none;
    font-size: 12pt;
    float: left;
    color: #63717f;
    padding-left: 55px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-1 input#search::-moz-placeholder { /* Firefox 19+ */
    color: #65737e;
}

.container-1 .icon {
    position: absolute;
    top: -10px;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
    left: -14px;
    display: block;
    width: 40px;
    height: 42px;
    opacity: .5;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
    outline: none;
    background: #fff;
    box-shadow: 2px 0px 4px #eaeaea;
    color: #000000;
    font-size: 12pt;
}

div#footer_modules {
    float: left;
    width: 100%;
}

div.small-icon img {
    width: 30px;
    padding-top: 5px;
    padding-left: 25px;
}

div.small-icon span {
    position: absolute;
    top: 40px;
    width: 80px;
    left: 0;
    font-size: 10px;
    color: black;
    text-align: center;
}

div.small-icon:hover {
    opacity: 1;
}

div.small-icon {
    opacity: .4;
    position: relative;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #ccc;
    border: 1px solid #c5c5c5;
    width: 80px;
    float: left;
    height: 75px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

div.small-icon {
    cursor: pointer;
}

div.small-icon:hover {
    border: 1px solid #ccc;
    background-color: #4fb2d3;
}

body.lab-reporttemplate textarea#id_template {
    height: 400px;
    width:700px !important;
}

#id_admission-autocomplete, #id_patient-autocomplete{
    width:440px !important;
    max-width: none;
}
div.grp-related-widget-wrapper div.selector > div{
    width: 388px !important;

}
div.grp-related-widget-wrapper div.selector select{
    margin-left: 11px !important;
}
div.grp-related-widget-wrapper div.selector {
    width: 820px;
}
div[id^=parametervalue_set] div.code > div {
    color:#ccc !important;
}

body.lab-analyse.grp-change-form textarea#id_result{
    background-color: rgb(238, 238, 238);
    border: 1px inset #fff;
}


footer li input[name="_continue"]{
    font-size: 1.3em;
    color: #fff !important;
    opacity: 1 !important;
}

footer li input[name="_continue"]:hover{
    color:#000 !important;
}

/*body:not(.grp-popup) footer li input[name="_addanother"], body:not(.grp-popup) footer li input[name="_save"]{*/
    /*display: none;*/
/*}*/

div#admissionpricing-group a.grp-add-handler{
    display: none !important;
}

textarea#id_process_logic{
    width:700px !important;
}

img[alt="False"]{
    opacity: .5;
}
th.column-keyid, td.field-keyid{
    display:none;
}
input.manualb{
    /*float:right !important;*/
}
td.field-value input.vTextField, td.field-value select.comboin, div#parametervalue_set-group div.form-row input.vTextField, div#parametervalue_set-group div.form-row select.comboin{
    width:120px !important;
}

div#parametervalue_set-group div.form-row input.vTextField, td.field-value input.vTextField {
    background-color: #fcf8e3;
}
div.grp-tr div.grp-td.value{
    display: table-caption;
    width:160px;
}
div.grp-tr {
    table-layout: fixed;
}

div.grp-td.keydata, div.grp-th.keydata{
    display:none !important;
}
li.grp-row.grp-add-link{
    cursor: pointer;
}
