<html>
<head>

    <style>
        body {
            background-color: #0f2c3c;
            text-align: center;
            padding: 100px;
            font-family: sans-serif;
            color:#fff;
        }
        a, a:visited {
            color:#fff;
            text-decoration: none;
            font-size:20px;
        }
    </style>
</head>

{#<img src="/static/images/500.jpg">#}
<h3>Üzgünüz aradığınız sayfayı bulamadık :(</h3>
<br><br>
<a href="javascript:history.back()"><strong>&larr;</strong> Önceki sayfaya dön</a> &nbsp; &nbsp; / &nbsp; &nbsp;
<a href="/">Anasayfaya git <strong>&#8617;</strong> </a>
</body>
</html>
